/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl
):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --color-dark: #000000;
  --color-dark-alternate: #131619;
  --color-light: #FFFFFF;
  --color-dark-gray: #404040;
  --color-light-gray: #C4C4C4;

  --container-width: 1300px;
  --container-padding-x: 15px;

  --transition-duration: 0.2s;

}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-dark);
}

a {
  color: var(--color-dark);
}

p {
  margin-block: 5px;

}

.section-title {
 padding-bottom: 10px;
}

.title-small {
 padding-bottom: 10px ;
}

.container{
  padding-inline: 15px;
  max-width: var(--container-width);
  margin: auto;
}

.header {
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
height: 70px;
column-gap: 10px;
}

.header-logo {
  display: flex;
  align-items: center;
  column-gap: 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}

.header-menu-list {
  display: inline-flex;
  align-items: center ;
  column-gap: 30px;
  padding-right: 15px;
}

.header-menu-item:not(:last-child)::after {
  content: "/";
  margin-left: 15px;
}

.header-menu-link {
  text-decoration: none;
}

.header-menu-link:hover {
  transition-duration: var(--transition-duration);
  color: var(--color-light-gray);
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 450px;
  text-align: center;
}

.hero-title {
  font-size: clamp(20px, 6vw, 60px);
}

.info-grid {
  display: grid;
  grid-template-columns: 1fr 1.3fr 1fr;
  grid-template-rows: auto auto;
  background-color: var(--color-dark);
  gap: 3px;
  border: 3px solid var(--color-dark);
  
}

.projects,
.expirience,
.education,
.opensource
 {
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  background-color: var(--color-light);
}

.projects {
  grid-column: 1;
  grid-row: 1 / span 2;
  
}


.expirience{
  grid-column: 2;
  grid-row: 1 ;
  
}

.opensource {
  grid-column: 2;
  grid-row: 2;
}

.education {
  grid-column: 3;
  grid-row: 1 / span 2;
  
}


.projects-menu-item {
  padding: 10px 0;
  border-bottom: 3px solid;
  margin-inline:-15px ;
  padding: 15px;
}

.projects-menu-item:last-child {
  border-bottom: none;
}

.projects-menu-link {
  text-decoration: none;
  color: var(--color-dark);
}

.projects-menu-link:hover {
 transition-duration: var(--transition-duration);
  color: var(--color-light-gray);
}

.reviews.section-title {
  padding: 30px ;
}

.reviews-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(60px, 6vw, 120px);
  margin: 0 80px;
}

.review-card {
  flex: 1;
  border: 3px solid black;
  border-radius: 20px;
  padding: 10px;
  max-width: 210px;
}

.footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  font-size: clamp(20px, 2.5vw, 40px);
}

@media (max-width: 765px) {
  
  
  .header {
display: flex;
flex-direction: column;
row-gap: 15px;
padding-top: 10px;
}

.hero {
  height: 200px;
}


.info-grid {
  display: grid;
  grid-template-columns: 1fr ;
  grid-template-rows: auto ;
}


.projects,
.expirience,
.education,
.opensource
 {
  grid-column: auto;
  grid-row: auto;
  
}

.projects {
  padding-bottom: 0;
}


.projects-menu-item {
  background-color: var(--color-light-gray);
  
}

.projects-menu-item:first-child{
 border-top: 3px solid;
}

.expirience{
  padding-bottom: 0px;
}

.roadmap {
  background-color: var(--color-light-gray);
  margin-inline:-15px ;
  padding-inline: 15px;
  padding-bottom: 10px;
  border-top: 3px solid;
}

.opensource {
  background-color: var(--color-light-gray);
}

.reviews-card-container {
  display: flex;
  flex-direction: column;
  
}

.reviews.section-title {
  padding: 15px ;
  text-align: center;
}

.review-card:not(:first-child) {
  display: none;
}

.reviews-card-container {

  margin: 0px;
}

.review-card {
  max-width: 300px;
}


.footer-link {
  
  height: 100px;
  font-size: clamp(20px, 2.5vw, 40px);
}


}